@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
    box-sizing: border-box;
}

#my-hero {
    display: inline;
}

#my-hero .title-hero {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 30px;
    font-weight: 700;
    letter-spacing: -1;
    line-height: 50px;
    font-size: 45px;
}

#exampleModal .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#exampleModal .modal-body img {
    height: 100%;
}

#exampleModal .modal-content {
    position: relative;
}

#exampleModal .modal-header {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    #exampleModal .modal-header {
        position: static;
    }

    #exampleModal .modal-body {
        display: inline-flex;
    }

    #exampleModal .modal-body img {
        width: 100%;
        height: auto;
    }
}

#home {
    margin: 1em auto;
}

#about {
    margin: 1em;
}

#about > .container{
    background: coral;
    padding: 100px;  
}

#about > .container > .about-head{
    margin: 1em;
}

#about > .container > .about-body{
    text-align: center;
}

#about > .container > .about-body h2{
    margin: 1em;
}

#contact {
    margin: 0.3em;
}

#contact > .container {
    padding: 100px;
}

footer {
    margin: 1em;
}

footer > .container {
    background: chartreuse;
}

#home {
    padding: 0;
}

.head {
    padding: 10px;
    overflow: visible;
    display: grid;
    justify-content: right;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 2;
}